* {
    margin: 0;
    padding: 0;
  }
  .footer{

        width: 100%;
        display: block;
        padding: 10px 0;
        background: yellow;
      
  }
  .wrapper {
    max-width: 1024px;
    margin: 0 auto;
    font-family: sans-serif;
    overflow: hidden;
  }
  
  .tasks {
    margin: 5px 0;
  }
  
  
  
  
  
  
  @media all and (max-width: 750px) {
    .task {
      &__buttons {
        flex-direction: column;
      }
      &__info{
        flex-direction: column;
        align-items: center;
      }
    }
    .todoList__sortDate{
      padding: 0;
    }
    .todoList__btnSortCheck{
      padding: 0 10px;
    }
    .task__text{
      margin: 0 5px;
    }
  }
  
  